n8n/workflows/Escalyn_n8n_workflow_12_03_26.json
{
  "name": "Escalyn",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.id }}{{ $json.case_id }}{{ $json.subject }}{{ $json.language }}{{ $json.message }}{{ $json.company }}{{ $json.created_at }}{{ $json.status }}",
        "options": {
          "systemMessage": "=You receive basic information about a problem on a given topic.\n\nYour task is:\n\nTo determine whether the provided information is sufficient to clearly and unambiguously understand what the problem is.\n\nIf the information is sufficient — do not ask any questions.\n\nIf the information is insufficient or unclear — generate between 5 and 10 specific, targeted questions that, once answered, will allow you to fully understand the problem.\n\nRules:\n\nDo not introduce yourself and do not add any explanatory text.\n\nDo not use markdown.\n\nThe response must be ONLY valid JSON.\n\nThe JSON structure is strictly fixed.\n\nIf there are no questions, the array must be empty.\n\nIf there are questions, the array must contain only text questions.\n\nWrite the questions in the same language as the input information - {{ $json.language }}.\n\nThe response format must be exactly:\n\n{\n\"type\": \"success\" | \"questions\",\n\"data\": []\n}\n\nWhere:\n\n\"type\" = \"success\" → when the problem is clear and no questions are needed\n\n\"type\" = \"questions\" → when additional information is required\n\n\"data\" = [] → empty array for \"success\"\n\n\"data\" = [\"question 1\", \"question 2\", ...] → array with 5–10 questions for \"questions\"\n\nDo not add anything outside this JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        -240
      ],
      "id": "3a6c23c7-afb0-4dc1-8163-edb5d6cf8e02",
      "name": "Generating Additional Questions"
    },
    {
      "parameters": {
        "path": "additional-info",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        288
      ],
      "id": "bde1137a-70d6-418b-a410-f41d83e5cecf",
      "name": "Additional Info Import",
      "webhookId": "bee33a57-3daf-4065-bc23-94ba58b0ce4f"
    },
    {
      "parameters": {
        "path": "inital-import",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        -192
      ],
      "id": "80e1ab6f-0bf4-4cb1-9a95-b062f4f060d3",
      "name": "Initial Import",
      "webhookId": "bee33a57-3daf-4065-bc23-94ba58b0ce4f"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        640
      ],
      "id": "8e5016de-f661-4d5d-a875-653ef9fb1bbb",
      "name": "Return Summary"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.case_id }}",
        "options": {
          "systemMessage": "=Here is the information about the case in raw JSON format. Please analyze it and produce a concise summary.\n\nWrite the summary in the same language as the input information - {{ $json.language }}.\n\n\n{{ $json.subject }}{{ $json.message }}{{ $json.company }}{{ $json.additional_info }}\n\nAdditionally, provide an assessment, expressed as a percentage from 0 to 100, of the likelihood that this case can be successfully won."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        640
      ],
      "id": "7069927f-135d-4712-966d-4ddfdab1d20f",
      "name": "Summary Generation"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        864,
        -240
      ],
      "id": "62dd4757-9833-4172-8287-7f10f7bd754c",
      "name": "Return Questions"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.case_id }}",
        "tableName": "=chat_history"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        672,
        -32
      ],
      "id": "343f3189-7a09-40ee-ba26-1f30373da7a4",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "oabhewUAebkIE8rT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        288,
        288
      ],
      "id": "67b8dd22-a4a6-4ced-95c2-6c4af165cd3d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "get-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        640
      ],
      "id": "2d0ba015-0dfd-49f8-83cb-ffe338ae17bc",
      "name": "Get Summary",
      "webhookId": "82f36ef0-c659-4754-9526-593b89f4eeed"
    },
    {
      "parameters": {
        "path": "confirm-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        1024
      ],
      "id": "7b51e0ae-ab3e-44dd-816c-584f6ddac1a8",
      "name": "Confirm Summary",
      "webhookId": "6581e7ed-fa39-4f51-8848-6a531d40d81b"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        336,
        944
      ],
      "id": "1704cdd8-ab08-4fb0-95d2-c1bf2b959a24",
      "name": "Everything is OK"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "legal_cases_v2",
          "mode": "list",
          "cachedResultName": "legal_cases_v2"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "case_id",
              "value": "={{ $json.body.case_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        784
      ],
      "id": "db9476a0-4150-477d-9750-fccc9bca2ff6",
      "name": "Get Information About Case",
      "credentials": {
        "postgres": {
          "id": "oabhewUAebkIE8rT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get Information About Case').item.json.case_id }}{{ $('Get Information About Case').item.json.language }}{{ $('Get Information About Case').item.json.message }}{{ $('Get Information About Case').item.json.id }}{{ $('Get Information About Case').item.json.company }}{{ $('Get Information About Case').item.json.additional_info }}",
        "options": {
          "systemMessage": "=ROLE\nВие сте експерт по Българско право (Трудово, Търговско и Защита на потребителите) и специалист по корпоративен анализ. Вашата сила е в обвързването на държавните закони с конкретните вътрешни правила на компаниите.\n\nGOAL\nДа анализирате казуса на потребителя, като намерите както приложимите държавни закони (Lex.bg/Държавен вестник), така и специфичните клаузи в политиките на компанията -{{ $json.company_name }}  (Общи условия, Политика за връщане, Политика за поверителност).\n\nINSTRUCTIONS\n\n    Търсене на закони (Legal Research):\n\n        Използвайте SerpAPI, за да намерите членове от \"Кодекс на труда\", \"Закон за защита на потребителите\" (ЗЗП) или други относими актове.\n\n        ЗАДЪЛЖИТЕЛНО предоставете линк към източника (Lex.bg или dv.parliament.bg).\n\n    Анализ на фирмени политики (Company Policy Audit):\n\n        Посетете предоставения website или policy_url.\n\n        Намерете секциите, касаещи казуса (напр. \"Връщане и замяна\", \"Рекламации\" или \"Лични данни\").\n\n        Извлечете конкретни срокове и условия, които компанията е обещала на своите клиенти/служители.\n\n    Синтез:\n\n        Сравнете дали фирмената политика отговаря на закона и подчертайте най-изгодния път за потребителя.\n\nOUTPUT FORMAT (JSON ONLY)\nВърнете резултата СТРИКТНО в този JSON формат:\nJSON\n\n{\n  \"legal_basis\": [\n    {\n      \"law_name\": \"[Име на закона]\",\n      \"article\": \"[Член/Параграф]\",\n      \"legal_summary\": \"[Текст на закона]\",\n      \"source_link\": \"[URL]\",\n      \"relevance\": \"[Защо е важно за случая]\"\n    }\n  ],\n  \"company_policy_findings\": {\n    \"policy_name\": \"[напр. Общи условия / Политика за връщане]\",\n    \"relevant_clause\": \"[Цитирай конкретната точка или правило от сайта]\",\n    \"analysis\": \"[Как това правило се прилага към проблема на потребителя]\",\n    \"policy_url\": \"[Директен линк към страницата с условията]\"\n  },\n  \"recommendation\": \"[Кратък съвет за следваща стъпка]\"\n}\n\nCONSTRAINTS\n\n    Ако информацията в сайта на компанията противоречи на закона, отбележете това в analysis.\n\n    Ако не намерите конкретна политика, в company_policy_findings напишете \"Information not found\".\n\n    Бъдете максимално конкретни със сроковете (напр. \"14 дни за връщане\")."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1808,
        768
      ],
      "id": "dc469b1a-1103-4cc8-872f-1e9122fe5734",
      "name": "Law Research",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1888,
        1008
      ],
      "id": "16e6c13b-6acd-401f-83d7-5a005bc3d82c",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "rzoLzloM0MbSeh4f",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1232,
        992
      ],
      "id": "9cf42162-b160-45c4-8900-37c275852bdd",
      "name": "SerpAPI1",
      "credentials": {
        "serpApi": {
          "id": "rzoLzloM0MbSeh4f",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Find official website and contact email for: {{ $json.company }}",
        "options": {
          "systemMessage": "ROLE\nYou are a high-performance Backend API Service. Your sole purpose is to return structured data in raw, minified JSON format. You are a Corporate Intelligence Expert.\n\nGOAL\nRetrieve the official website, privacy policy URL, and support contact email for the company provided in the user input.\n\nINSTRUCTIONS\n\n    Identify Domain: Search for the official corporate domain of the company.\n\n    Locate Legal/Contact Pages: Specifically find \"Privacy Policy\" and \"Contact Us\" or \"Support\" pages.\n\n    Extract Email: Scan for high-level support or sales emails (e.g., support@domain.com, info@domain.com).\n\nCRITICAL CONSTRAINTS\n- FORMAT: Output ONLY a valid JSON object. Do not output anything else.\n- NO WRAPPERS: Strictly do NOT wrap the JSON in markdown code blocks (like ```json). Just output the raw JSON.\n- STRICT CONTENT: Do not include any conversational text, greetings, or explanations before or after the JSON.\n- MISSING DATA: Use null (without quotes) for any missing field.\n\nOUTPUT JSON STRUCTURE\n{\n  \"company_name\": \"VALUE\",\n  \"website\": \"URL\",\n  \"email\": \"EMAIL\",\n  \"policy_url\": \"URL\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1056,
        784
      ],
      "id": "9252f08d-f79e-4cc8-a905-ee38f1920194",
      "name": "Search Company Info",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1744,
        1008
      ],
      "id": "8229697b-8e72-4d00-8bec-5d646f00d43d",
      "name": "Research Model",
      "credentials": {
        "openAiApi": {
          "id": "KK1IF6etJJeqsDBg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1008,
        992
      ],
      "id": "7d201aa7-a05a-4d30-b17f-8b886765bb74",
      "name": "Company Info Finder Model",
      "credentials": {
        "openAiApi": {
          "id": "KK1IF6etJJeqsDBg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.legal_basis }}",
        "options": {
          "systemMessage": "=Ти си експертен правен изследовател.\nЗадача: Предоставени са ти закони, кодекси от Лекс.бг и от Държавен вестник и от сайт на компанията. Твоята работа е да напишеш фомален имейл към {{ $('Get Information About Case').item.json.company }}, относно проблема. Тона ти трябва да е неутрален и формален. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2848,
        768
      ],
      "id": "33773a73-a2ce-4574-bd8b-1af67c1cf0b4",
      "name": "Email Draft Generation",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2816,
        976
      ],
      "id": "b619ded0-4522-4fc5-ae87-fde0eea0a48d",
      "name": "Draft Generation Model",
      "credentials": {
        "openAiApi": {
          "id": "KK1IF6etJJeqsDBg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9d174752-2e15-4d46-9b57-6dbae40bb379",
              "leftValue": "={{ $json.body.user_confirm_summary }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        1024
      ],
      "id": "00a44065-fe02-423d-a842-ca93a7131590",
      "name": "Confirmation Checker"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "legal_cases_v2",
          "mode": "list",
          "cachedResultName": "legal_cases_v2"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "case_id",
              "value": "={{ $json.body.case_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        640
      ],
      "id": "5b9cf389-f447-43b9-bf7b-47028c14469b",
      "name": "Get Info About The Case",
      "credentials": {
        "postgres": {
          "id": "oabhewUAebkIE8rT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        816
      ],
      "id": "3b9b49c4-aa10-4e25-a01d-a97fd75913df",
      "name": "Summary Generation Model",
      "credentials": {
        "openAiApi": {
          "id": "KK1IF6etJJeqsDBg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "legal_cases_v2",
          "mode": "list",
          "cachedResultName": "legal_cases_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "case_id": "={{ $json.case_id }}",
            "status": "collecting additional info",
            "additional_info": "={{ $json.answers }}"
          },
          "matchingColumns": [
            "case_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "case_id",
              "displayName": "case_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "additional_info",
              "displayName": "additional_info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        288
      ],
      "id": "8f222f73-48d0-416b-b158-822fded2c774",
      "name": "Update Additional Info In DB",
      "credentials": {
        "postgres": {
          "id": "oabhewUAebkIE8rT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "legal_cases_v2",
          "mode": "list",
          "cachedResultName": "legal_cases_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "case_id": "={{ $json.body.case_id }}",
            "subject": "={{ $json.body.subject }}",
            "language": "={{ $json.body.language }}",
            "message": "={{ $json.body.message }}",
            "company": "={{ $json.body.company }}",
            "created_at": "={{ $json.body.date }}",
            "status": "start"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "case_id",
              "displayName": "case_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        -192
      ],
      "id": "69dd1188-2517-44b1-be13-b535e0d285e5",
      "name": "Insert Info About The Case",
      "credentials": {
        "postgres": {
          "id": "oabhewUAebkIE8rT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        -32
      ],
      "id": "da0c93f4-d98b-41a3-9772-f3c0a79f3d91",
      "name": "Questions Generation Model",
      "credentials": {
        "openAiApi": {
          "id": "KK1IF6etJJeqsDBg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://escalyn.onrender.com/api/cases/cases/378943f5-fa1f-4300-9b2c-fd0b54005682/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        992
      ],
      "id": "c4b4ec63-0c73-433e-a0dd-23d3a674e02f",
      "name": "Update Status (Researching)",
      "retryOnFail": true,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api-na-mert.com/mert-api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=\"status\"",
              "value": "=\"generated email\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3200,
        880
      ],
      "id": "ff98b1a8-6424-4416-858e-5adfe9bf5e30",
      "name": "Update Status (Email Generated)"
    },
    {
      "parameters": {
        "jsCode": "// return JSON.parse($input.item.json.output);\n\n// try {\n//   const text = $input.first().json.text || $input.first().json.output;\n  \n//   // Extract JSON even if AI added text around it\n//   const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n//   if (!jsonMatch) throw new Error(\"No JSON found in output\");\n  \n//   const parsed = JSON.parse(jsonMatch[0]);\n//   return [{ json: { ...parsed, parseSuccess: true } }];\n// } catch (e) {\n//   return [{ json: { parseSuccess: false, error: e.message } }];\n// }\n\nreturn [{ json: { parseSuccess: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        784
      ],
      "id": "9c3a3d63-86dc-4d52-84ce-1e0e9cff63fe",
      "name": "Parse the Output to JSON",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "let rawOutput = $input.item.json.output;\n\nlet cleanJson = rawOutput.replace(/```json|```/g, \"\").trim();\n\nreturn JSON.parse(cleanJson);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        768
      ],
      "id": "7d0355bc-2f46-4d4e-a60a-003017570041",
      "name": "Parse the Output to JSON2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw text from the input\nconst rawText = $input.item.json.output; \n\n// 2. Extract the Subject line using Regex\nconst subjectMatch = rawText.match(/Subject:\\s*(.*)/i);\nconst emailSubject = subjectMatch ? subjectMatch[1].trim() : \"Заявка за връщане на продукт\";\n\n// 3. Extract the Body (everything after the first two newlines)\n// This removes the \"Subject: ...\" part from the final message\nconst emailBody = rawText.replace(/Subject:.*\\n*/i, \"\").trim();\n\n// 4. Return as a clean JSON object for the next node\nreturn {\n  subject: emailSubject,\n  body: emailBody\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        816
      ],
      "id": "6947e349-a27e-4b3a-8506-c12458e57d22",
      "name": "Parse the Email to JSON",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api-na-mert.com/mert-api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=\"status\"",
              "value": "=\"generated email\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2624,
        864
      ],
      "id": "2eed87c5-c801-4c56-bd44-34fd71d5f435",
      "name": "Update Status (Draft Generation)"
    },
    {
      "parameters": {
        "toolDescription": "Get Information From Lex",
        "url": "https://api.lexapi.com/api/v1/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2032,
        1008
      ],
      "id": "30afd20f-e740-48c5-8df9-174985ce7592",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4vwwYs3XZW79KxWq",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "There was an error in adding a new case in the DB (Step 1)"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        384,
        -96
      ],
      "id": "4b238a07-e23f-45b3-82f6-19d52a2e84ce",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d54a3c6e-9da9-411f-b2b9-792b80afb34f",
              "leftValue": "={{ $json.case_id }}",
              "rightValue": "=undefined",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        -192
      ],
      "id": "56e9dacf-bf91-459b-b30a-56af4a62c089",
      "name": "Check if DB has saved the info correctly"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        336,
        1104
      ],
      "id": "58c57d0d-20ba-4f5b-9055-cca8f40aed22",
      "name": "Return 401 Error (For now)"
    },
    {
      "parameters": {
        "content": "## STEP 1 - Collecting Initial Data From User - Working",
        "height": 512,
        "width": 1284,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        -368
      ],
      "id": "668ba41e-2dd7-4a75-996d-bbb4de2c4021",
      "name": "Step 1"
    },
    {
      "parameters": {
        "content": "## STEP 2 - Collecting Additional Info About Case - Working",
        "height": 352,
        "width": 976,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        176
      ],
      "id": "117fb6b9-23ed-4e5b-bb3e-817eca9f1ff4",
      "name": "Step 2"
    },
    {
      "parameters": {
        "content": "## STEP 3 - Creating Summary For The User To Confirm - Partially Working",
        "height": 768,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        560
      ],
      "id": "4bc1fa92-8e57-4994-ba48-86b07f0e3cc2",
      "name": "Step 3"
    },
    {
      "parameters": {
        "content": "## STEP 4 - Search Relevant Laws And In Company's Website",
        "height": 480,
        "width": 1744,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        688
      ],
      "id": "f2a5fe43-3aec-4a6e-bfa8-013499fd33eb",
      "name": "Step 4"
    },
    {
      "parameters": {
        "content": "## STEP 5 - Draft Generation",
        "height": 448,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2560,
        704
      ],
      "id": "e56db12b-c1c8-4f27-89c1-2b8deb58494c",
      "name": "Step 5"
    },
    {
      "parameters": {
        "content": "## STEP 6 - Send Email",
        "height": 448,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3408,
        704
      ],
      "id": "395a2e98-9b80-47f0-ae0a-180b46e16a94",
      "name": "Step 6"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3008,
        992
      ],
      "id": "4a0bd881-806d-409b-a4c6-1cf1de0c5e46",
      "name": "Think"
    },
    {
      "parameters": {
        "sendTo": "kviolinov@gmail.com",
        "subject": "Error!",
        "emailType": "text",
        "message": "There was an error in the JSON Output Parsing (Step 4 - Search Company Info Agent)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1552,
        880
      ],
      "id": "881a77b9-7ab3-41f9-89ef-d02ef5607c06",
      "name": "Send Error Report To Admin",
      "webhookId": "fb6d9c57-e82d-4f02-b798-e7ddf74c7a0a",
      "credentials": {
        "gmailOAuth2": {
          "id": "iOjeAqBJFzu05zhV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kviolinov@gmail.com",
        "subject": "Error!",
        "emailType": "text",
        "message": "There was an error in the JSON Output Parsing (Step 4 - Lar Research Agent)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2352,
        880
      ],
      "id": "37f87a42-670f-4608-8f54-9c45742bbf29",
      "name": "Send Error Report To Admin1",
      "webhookId": "fb6d9c57-e82d-4f02-b798-e7ddf74c7a0a",
      "credentials": {
        "gmailOAuth2": {
          "id": "iOjeAqBJFzu05zhV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kviolinov@gmail.com",
        "subject": "Error!",
        "emailType": "text",
        "message": "There was an error in the JSON Output Parsing (Step 4 - Lar Research Agent)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3856,
        960
      ],
      "id": "f448bf1b-80ae-480a-b75b-498c0b01621c",
      "name": "Send Error Report To Admin2",
      "webhookId": "fb6d9c57-e82d-4f02-b798-e7ddf74c7a0a",
      "credentials": {
        "gmailOAuth2": {
          "id": "iOjeAqBJFzu05zhV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kviolinov@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3856,
        768
      ],
      "id": "0e2b8d8a-0cb2-474d-a3a9-68a8655c07e5",
      "name": "Send An Email To The Company",
      "webhookId": "c92e3af7-3082-4dad-92fb-8d0a63c86000",
      "credentials": {
        "gmailOAuth2": {
          "id": "iOjeAqBJFzu05zhV",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Generating Additional Questions": {
      "main": [
        [
          {
            "node": "Return Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Info Import": {
      "main": [
        [
          {
            "node": "Update Additional Info In DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Import": {
      "main": [
        [
          {
            "node": "Insert Info About The Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Generation": {
      "main": [
        [
          {
            "node": "Return Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "ai_memory": [
        [
          {
            "node": "Generating Additional Questions",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Summary": {
      "main": [
        [
          {
            "node": "Get Info About The Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Summary": {
      "main": [
        [
          {
            "node": "Confirmation Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Everything is OK": {
      "main": [
        [
          {
            "node": "Get Information About Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Information About Case": {
      "main": [
        [
          {
            "node": "Search Company Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Law Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Law Research": {
      "main": [
        [
          {
            "node": "Parse the Output to JSON2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI1": {
      "ai_tool": [
        [
          {
            "node": "Search Company Info",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Company Info": {
      "main": [
        [
          {
            "node": "Parse the Output to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Model": {
      "ai_languageModel": [
        [
          {
            "node": "Law Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Company Info Finder Model": {
      "ai_languageModel": [
        [
          {
            "node": "Search Company Info",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Draft Generation": {
      "main": [
        [
          {
            "node": "Parse the Email to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Generation Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Draft Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Confirmation Checker": {
      "main": [
        [
          {
            "node": "Everything is OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 401 Error (For now)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Info About The Case": {
      "main": [
        [
          {
            "node": "Summary Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Generation Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summary Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Additional Info In DB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Info About The Case": {
      "main": [
        [
          {
            "node": "Check if DB has saved the info correctly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questions Generation Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generating Additional Questions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Status (Researching)": {
      "main": [
        []
      ]
    },
    "Parse the Output to JSON": {
      "main": [
        [
          {
            "node": "Law Research",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Report To Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse the Output to JSON2": {
      "main": [
        [
          {
            "node": "Email Draft Generation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Report To Admin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse the Email to JSON": {
      "main": [
        [
          {
            "node": "Send An Email To The Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Report To Admin2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "Law Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check if DB has saved the info correctly": {
      "main": [
        [
          {
            "node": "Generating Additional Questions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send An Email To The Company": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ccdead6e-fd0f-4764-ad16-3f866433e7ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5acf593be9c96df6684b78c243ee944a1d56166317fede21b8d109422eb1d589"
  },
  "id": "kYW9u047qsTJqZmBuiUCq",
  "tags": []
}